.popover-deploy {
    .swap-vert {
        margin-top: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            font-size: 20px;
            border-radius: 50%;
        }
    }
    .logo {
        height: 30px;
    }
}
